version: "3"
services:
    client:
        image: dockerized-react
        ports:
          - "3000:3000"
        container_name: dockerized-react
        build:
            context: ./client
            dockerfile: Dockerfile
        environment:
            REACT_APP_API_URL: 'http://localhost:5000'
    server:
        image: dockerized-nest
        ports:
          - "5000:5000"
        container_name: dockerized-nest
        build:
            context: ./server
            dockerfile: Dockerfile
        depends_on: 
            - postgres
        environment:
            PORT: 5000
            PG_USERNAME: farm
            PG_HOST: db
            PG_DATABASE: smart_farm
            PG_PASSWORD: 123
            PG_PORT: 5432
            GOOGLE_CLIENT_ID: '817971809291-glsv68au9nlkluekkvre3jvo7d38l3q0.apps.googleusercontent.com'
            GOOGLE_CLIENT_SECRET: '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'
            GOOGLE_CALLBACK_URL: 'http://localhost:5000/google/redirect'
            JWT_SECRET: 'smart_farm_jwt_secret'
            JWT_EXPIRATION_TIME: 3600
            CLIENT_URL: 'http://localhost:3000'
    postgres:
        image: postgres
        ports:
            - "5432:5432"
        environment:
            POSTGRES_USER: farm
            POSTGRES_PASSWORD: 123
            POSTGRES_DB: smart_farm
        volumes:
          - ./docker/init.sql:/docker-entrypoint-initdb.d/init.sql

      # build:
      #   context: ./Docker
      #   dockerfile: db.Dockerfile
      # volumes:
      #   - ./var/pgdata:/var/lib/postgresql/data
          # ports:
          # - "5432:5432"