version: "3"
services:
    client:
        image: client_smart_farm
        ports:
          - "3000:3000"
        container_name: client_smart_farm
        build:
            context: ./client
            dockerfile: Dockerfile
        # volumes:
        #     - ./client:/app
        environment:
            REACT_APP_API_URL: 'http://localhost:5000'
            REACT_APP_CLIENT_URL: 'http://localhost:3000'
            REACT_APP_GRAFANA_URL: 'http://localhost:7000'
    server:
        image: server_smart_farm
        ports:
          - "5000:5000"
        container_name: server_smart_farm
        build:
            context: ./server
            dockerfile: Dockerfile
        # volumes:
        #     - ./server:/app
        depends_on: 
            - db
        environment:
            PORT: 5000
            PG_USERNAME: farm
            PG_HOST: db
            PG_DATABASE: smart_farm
            PG_PASSWORD: 123
            PG_PORT: 5432
            GOOGLE_CLIENT_ID: '817971809291-glsv68au9nlkluekkvre3jvo7d38l3q0.apps.googleusercontent.com'
            GOOGLE_CLIENT_SECRET: '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'
            GOOGLE_CALLBACK_URL: 'http://localhost:5000/google/redirect'
            JWT_SECRET: 'smart_farm_jwt_secret'
            JWT_EXPIRATION_TIME: 3600
            CLIENT_URL: 'http://localhost:3000'
    db:
        image: postgres
        ports:
            - "5434:5432"
        environment:
            POSTGRES_USER: farm
            POSTGRES_PASSWORD: 123
            POSTGRES_DB: smart_farm

